@charset "UTF-8";
:root{
    --cor0:#33F587;
    --cor1:#4cb178;
    --cor2:#00A849;
    --cor3:#063d1e;
    --cor4:#ff0000;
    --cor5:#aa3024;

 
    --fonte-padrao: Arial,Verdana,sans-serif;
    --fonte-destaque: 'Bebas Neue',sans-serif;}

    header > h1{text-align: center;
        background-color: white;
        margin-top: 0px;
        text-decoration: rgb(102, 102, 102);
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.452);}
*{margin: 0px;
padding: 0px;        }

body{background-color: var(--cor0);}

div.supeior{background-color: var(--cor2);
text-align: right;}
div.inferior{background-color: var(--cor4);
text-align: center;
box-shadow: 1px 1px 5px rgb(5 5 5);
padding: 25px;}
div.inferior > a{color: var(--cor3);
    padding: 3px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;}
div.inferior > a:hover{background-color: var(--cor2);
        color: var(--cor5);
        border-radius: 7px;}


main{background-color: white;
    font-family: var(--fonte-padrao);
    max-width: 650px;
    margin: auto;     margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
    border-top-left-radius: 0px ;    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;    border-bottom-right-radius: 15px;}
main img{width: 100%;}
main h1{color: var(--cor5);
    font-family: var(--fonte-android);}
main h2{font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.4em;
    background-image: linear-gradient(to right,rgb(193, 252, 193),transparent);}
main a:hover{text-decoration: underline;
    color: var(--cor5);}

main p{margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 25px;
    font-size: 1em;
    line-height: 2em;}
p.tab{text-align: center;}
main strong{ color: var(--cor4);
    font-weight: bold;
    padding: 2px 4px;}
main a{text-decoration: none;
    background-color: var(--cor1);
    color: var(--cor4);
    padding: 2px 2px;
    border-radius: 2px;    }
main a:hover{text-decoration: underline;
    color: var(--cor5);}
    
div.videos{background-color: var(--cor4);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 57%;}
div.videos > iframe{position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;}
    
aside{background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.404);}
aside > ul{list-style-type: '\2714\00A0';
    list-style-position: inside;}
aside >h3{background-image:linear-gradient(to bottom, var(--cor5),var(--cor4),var(--cor4),var(--cor4),var(--cor4),var(--cor3),var(--cor2));
    color: white;
    padding: 10px;
    margin: -10px -10px -10px -10px;
    border-radius: 10px 10px 0px 0px;}
main > ul{    list-style-position: inside;}




footer{background-color: black;
text-align: center;
color: white;
margin-top: 2px;}
